.dragon-list {
  list-style-type: none;
}

.dragon-item {
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
}

.dragon-item .item-img-container {
  width: 240px;
  height: 176px;
}

.dragon-item img {
  display: block;
  width: 100%;
  height: 100%;
}

.dragon-item button {
  padding: 8px 10px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.reserve-btn {
  border: 1px solid #1782fc;
  background-color: #1083fd;
  color: #fff;
}

.cancel-btn {
  background: white;
  color: black;
  border: 1px solid rgb(173, 96, 173);
}

.badge {
  color: white;
  background: rgb(60, 180, 180);
  border-radius: 2px;
  width: 50%;
  text-align: center;
}
