* {
  box-sizing: border-box;
}

.profile-rockets {
  margin-top: 2rem;
  border: 1px solid #ddd;
  width: 20vw;
}

h4 {
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
}

p.proflist {
  padding: 10px;
}
