.head-section {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
}

.head-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  transform: translateY(-55px);
}

.head-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}
