@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* * Defines what 1rem is */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* .active {
  text-decoration: underline;
} */

/* .missions-header {
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
}

.missions-container {
  margin-top: 2rem;
  border: 1px solid #ddd;
  width: 20vw;
}

.missions-list {
  list-style-type: none;
  padding-left: 10px;
  font-size: 18px;
} */
