.rocket-section {
  background-color: #1b1f31;
  transform: translateY(-5.1rem);
  padding: 5rem 2.5rem;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  gap: 5rem;
  height: 100%;
}

.rocket-section__text {
  max-width: 50%;
  font-size: 1.4rem;
  line-height: 2rem;
}

.rocket-section__images {
  max-width: 60%;
  position: relative;
}

.section-gallery {
  display: flex;
}

.section-gallery__image {
  width: 40%;
  box-shadow: -0.5rem 0.8rem 2rem rgba(107, 107, 107, 0.8);
  outline-offset: 1.5rem;
  border-radius: 1rem;
  transition: all 0.2s;
}

.section-gallery__image:hover {
  outline: 1rem solid var(--font-color-2);
  border-radius: 1rem;
  transform: scale(1.1) translateY(-0.5rem);
  box-shadow: -0.5rem 0.8rem 2rem rgba(107, 107, 107, 0.8);
  z-index: 2;
}

.section-gallery:hover .section-gallery__image:not(:hover) {
  transform: scale(0.9);
  filter: brightness(0.8);
}

.section-gallery__image--1 {
  position: absolute;
  top: 2rem;
  left: 50%;
}

.section-gallery__image--2 {
  position: absolute;
  top: -1rem;
  left: 0;
}

.section-gallery__image--3 {
  position: relative;
  top: 5rem;
  left: 6rem;
}
